<h1><%= ProductModel.model_name.human %></h1>

<%= link_to 'Cadastrar Novo Produto', new_product_model_path %>

<% if @product_models.any? %>
  <% @product_models.each do |pm| %>
    <div>
      <h2><%= link_to pm.name, pm %>
        <dl>
          <dt><%= ProductModel.human_attribute_name(:sku) %></dt>
          <dd><%= pm.sku %></dd>
          <dt><%= ProductModel.human_attribute_name(:supplier) %></dt>
          <dd><%= pm.supplier.brand_name %></dd>
        </dl>
      </div>
    <% end %>
  <% else %>
    <p><%= ProductModel.human_attribute_name(:no_registered_product_model) %></p>
  <% end %>
