<h1><%= Supplier.human_attribute_name(:suppliers)%></h1>

<%= link_to 'Cadastrar novo fornecedor', new_supplier_path %>

<% if @suppliers.any? %>
  <table>
    <thead>
      <tr>
        <th><%= Supplier.human_attribute_name(:name)%></th>
        <th><%= Supplier.human_attribute_name(:location)%></th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
        <tr>
          <td><%= link_to supplier.brand_name, supplier %></td>
          <td><%= supplier.city %> - <%= supplier.state %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= Supplier.human_attribute_name(:no_registered_suppliers)%></p>
<% end %>